root=true
#https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

# Don't go looking any further up the directory tree for .editorconfig files

[*]
root=true
charset=utf-8
indent_style=tab
indent_size=4
end_of_line=crlf

# These two don't work in VS2017 (yet? ever?) https://blogs.msdn.microsoft.com/dotnet/2016/12/15/code-style-configuration-in-the-vs2017-rc-update/
insert_final_newline=true
trim_trailing_whitespace=true


[*.yml]
indent_style=space
indent_size=2


[*.cs]
dotnet_sort_system_directives_first=true

# private is default so lets not put it in the source (needs VS2017 15.7)
dotnet_style_require_accessibility_modifiers=omit_if_default:always

# avoid "this." and "me." if not necessary
dotnet_style_qualification_for_field=false : warning
dotnet_style_qualification_for_property=false : warning
dotnet_style_qualification_for_method=false : warning
dotnet_style_qualification_for_event=false : warning

# suggest more modern language features when available
dotnet_style_object_initializer=true : warning
dotnet_style_collection_initializer=true : warning
dotnet_style_coalesce_expression=true : warning
dotnet_style_null_propagation=true : warning
dotnet_style_explicit_tuple_names=true : warning

# Microsoft .NET properties
csharp_new_line_before_catch=false
csharp_new_line_before_else=false
csharp_new_line_before_finally=false
csharp_new_line_before_open_brace=types,methods
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:warning
csharp_prefer_braces=true:suggestion
csharp_space_after_cast=false
csharp_style_var_elsewhere=false:none
csharp_style_var_for_built_in_types=false:suggestion
dotnet_naming_rule.constants_rule.severity=warning
dotnet_naming_rule.constants_rule.style=all_upper_style
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.event_rule.severity=warning
dotnet_naming_rule.event_rule.style=upper_camel_case_style
dotnet_naming_rule.event_rule.symbols=event_symbols
dotnet_naming_rule.local_constants_rule.severity=warning
dotnet_naming_rule.local_constants_rule.style=all_upper_style
dotnet_naming_rule.local_constants_rule.symbols=local_constants_symbols
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=all_upper_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=lower_camel_case_style_1
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.static_readonly_rule.severity=warning
dotnet_naming_rule.static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_style.all_upper_style.capitalization=all_upper
dotnet_naming_style.all_upper_style.word_separator=_
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix=_
dotnet_naming_style.lower_camel_case_style_1.capitalization=camel_case
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.event_symbols.applicable_accessibilities=*
dotnet_naming_symbols.event_symbols.applicable_kinds=event
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_constants_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:warning
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning

# ReSharper properties
resharper_alignment_tab_fill_style=use_tabs_only
resharper_align_multiline_binary_expressions_chain=false
resharper_align_multiple_declaration=true
resharper_arguments_literal=named
resharper_attribute_indent=single_indent
resharper_blank_lines_after_control_transfer_statements=2
resharper_blank_lines_between_using_groups=1
resharper_braces_redundant=true
resharper_csharp_blank_lines_around_type=2
resharper_csharp_indent_style=tab
resharper_csharp_insert_final_newline=true
resharper_csharp_max_line_length=200
resharper_csharp_naming_rule.event=AaBb
resharper_csharp_naming_rule.method_property_event=AaBb, AaBb_AaBb
resharper_csharp_stick_comment=false
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_multiple_declaration_style=chop_always
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_csharp_wrap_ternary_expr_style=chop_always
resharper_css_indent_style=tab
resharper_css_insert_final_newline=true
resharper_css_use_indent_from_vs=false
resharper_default_private_modifier=implicit
resharper_empty_block_style=together_same_line
resharper_enforce_line_ending_style=true
resharper_event_handler_pattern_long=$object$_On$event$
resharper_force_control_statements_braces=always_add
resharper_force_variable_declarations_on_new_line=true
resharper_for_built_in_types=use_var_when_evident
resharper_html_indent_style=tab
resharper_html_insert_final_newline=true
resharper_html_pi_attributes_indent=single_indent
resharper_html_use_indent_from_vs=false
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_switch_labels=true
resharper_js_indent_style=tab
resharper_js_insert_final_newline=true
resharper_js_max_line_length=195
resharper_js_quote_style=singlequoted
resharper_js_use_indent_from_vs=false
resharper_js_wrap_before_binary_opsign=true
resharper_js_wrap_multiple_declaration_style=chop_always
resharper_keep_blank_lines_between_declarations=2
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_max_array_initializer_elements_on_line=10
resharper_max_attribute_length_for_same_line=3
resharper_max_enum_members_on_line=1
resharper_max_initializer_elements_on_line=1
resharper_min_blank_lines_after_imports=1
resharper_nested_ternary_style=expanded
resharper_new_line_before_catch=false
resharper_new_line_before_else=false
resharper_new_line_before_finally=false
resharper_normalize_tag_names=true
resharper_parentheses_redundancy_style=remove
resharper_place_accessor_with_attrs_holder_on_single_line=true
resharper_place_field_attribute_on_same_line=false
resharper_place_simple_anonymousmethod_on_single_line=false
resharper_place_simple_embedded_statement_on_same_line=false
resharper_properties_style=separate_lines
resharper_protobuf_indent_style=space
resharper_protobuf_insert_final_newline=false
resharper_resx_indent_style=space
resharper_resx_insert_final_newline=false
resharper_selector_style=separate_lines
resharper_simple_embedded_statement_style=line_break
resharper_single_statement_function_style=line_break
resharper_space_before_self_closing=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_indents_from_main_language_in_file=false
resharper_vb_indent_style=space
resharper_vb_insert_final_newline=false
resharper_wrap_after_declaration_lpar=true
resharper_wrap_after_invocation_lpar=true
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_declaration_rpar=true
resharper_wrap_before_extends_colon=true
resharper_wrap_before_first_type_parameter_constraint=true
resharper_wrap_before_invocation_rpar=true
resharper_wrap_before_linq_expression=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_chained_method_calls=chop_if_long
resharper_wrap_linq_expressions=chop_always
resharper_wrap_multiple_type_parameter_constraints_style=chop_always
resharper_xmldoc_attribute_style=on_single_line
resharper_xmldoc_indent_style=tab
resharper_xmldoc_indent_text=ZeroIndent
resharper_xmldoc_insert_final_newline=false
resharper_xmldoc_linebreaks_inside_tags_for_elements_longer_than=195
resharper_xmldoc_max_line_length=195
resharper_xmldoc_pi_attributes_indent=single_indent
resharper_xmldoc_pi_attribute_style=on_single_line
resharper_xmldoc_use_indent_from_vs=false
resharper_xmldoc_wrap_around_elements=false
resharper_xml_attribute_style=on_different_lines
resharper_xml_blank_line_after_pi=false
resharper_xml_indent_style=tab
resharper_xml_insert_final_newline=true
resharper_xml_linebreaks_inside_tags_for_elements_longer_than=195
resharper_xml_max_line_length=195
resharper_xml_pi_attributes_indent=single_indent
resharper_xml_pi_attribute_style=on_single_line
resharper_xml_use_indent_from_vs=false

# ReSharper inspection severities
resharper_amd_dependency_path_problem_highlighting=warning
resharper_annotate_can_be_null_parameter_highlighting=hint
resharper_annotate_can_be_null_type_member_highlighting=hint
resharper_annotate_not_null_parameter_highlighting=hint
resharper_annotate_not_null_type_member_highlighting=hint
resharper_arrange_attributes_highlighting=suggestion
resharper_arrange_constructor_or_destructor_body_highlighting=warning
resharper_arrange_local_function_body_highlighting=warning
resharper_arrange_method_or_operator_body_highlighting=warning
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=warning
resharper_arrange_type_modifiers_highlighting=warning
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_class_can_be_sealed_global_highlighting=hint
resharper_class_can_be_sealed_local_highlighting=suggestion
resharper_coerced_equals_using_with_null_undefined_highlighting=hint
resharper_compare_non_constrained_generic_with_null_highlighting=warning
resharper_convert_to_constant_global_highlighting=suggestion
resharper_convert_to_constant_local_highlighting=suggestion
resharper_convert_to_lambda_expression_when_possible_highlighting=suggestion
resharper_convert_to_using_declaration_highlighting=hint
resharper_cyclic_reference_comment_highlighting=warning
resharper_enforce_do_while_statement_braces_highlighting=warning
resharper_enforce_fixed_statement_braces_highlighting=warning
resharper_enforce_foreach_statement_braces_highlighting=warning
resharper_enforce_for_statement_braces_highlighting=warning
resharper_enforce_if_statement_braces_highlighting=warning
resharper_enforce_lock_statement_braces_highlighting=warning
resharper_enforce_using_statement_braces_highlighting=warning
resharper_enforce_while_statement_braces_highlighting=warning
resharper_explicit_caller_info_argument_highlighting=suggestion
resharper_functions_used_before_declared_highlighting=warning
resharper_function_complexity_overflow_highlighting=suggestion
resharper_invalid_task_element_highlighting=warning
resharper_invoke_as_extension_method_highlighting=warning
resharper_join_null_check_with_usage_when_possible_highlighting=suggestion
resharper_localizable_element_highlighting=hint
resharper_loop_can_be_partly_converted_to_query_highlighting=suggestion
resharper_member_can_be_internal_highlighting=hint
resharper_member_can_be_made_static_local_highlighting=suggestion
resharper_merge_conditional_expression_when_possible_highlighting=suggestion
resharper_merge_sequential_checks_when_possible_highlighting=suggestion
resharper_n_unit_method_with_parameters_and_test_attribute_highlighting=suggestion
resharper_n_unit_non_public_method_with_test_attribute_highlighting=suggestion
resharper_parameter_only_used_for_precondition_check_local_highlighting=hint
resharper_possible_multiple_enumeration_highlighting=suggestion
resharper_redundant_array_creation_expression_highlighting=suggestion
resharper_redundant_attribute_parentheses_highlighting=warning
resharper_redundant_case_label_highlighting=suggestion
resharper_redundant_collection_initializer_element_braces_highlighting=suggestion
resharper_redundant_declaration_semicolon_highlighting=suggestion
resharper_redundant_empty_object_creation_argument_list_highlighting=suggestion
resharper_redundant_if_else_block_highlighting=suggestion
resharper_redundant_lambda_signature_parentheses_highlighting=suggestion
resharper_redundant_query_order_by_ascending_keyword_highlighting=suggestion
resharper_redundant_to_string_call_for_value_type_highlighting=suggestion
resharper_remove_constructor_invocation_highlighting=suggestion
resharper_remove_redundant_or_statement_false_highlighting=warning
resharper_remove_redundant_or_statement_true_highlighting=warning
resharper_remove_to_list_1_highlighting=warning
resharper_remove_to_list_2_highlighting=warning
resharper_replace_with_simple_assignment_false_highlighting=warning
resharper_replace_with_simple_assignment_true_highlighting=warning
resharper_replace_with_single_assignment_false_highlighting=warning
resharper_replace_with_single_assignment_true_highlighting=warning
resharper_separate_control_transfer_statement_highlighting=warning
resharper_specify_a_culture_in_string_conversion_explicitly_highlighting=hint
resharper_string_concatenation_to_template_string_highlighting=suggestion
resharper_string_ends_with_is_culture_specific_highlighting=warning
resharper_string_literal_wrong_quotes_highlighting=warning
resharper_string_starts_with_is_culture_specific_highlighting=warning
resharper_suggest_discard_declaration_var_style_highlighting=suggestion
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_try_statements_can_be_merged_highlighting=suggestion
resharper_unknown_css_class_highlighting=hint
resharper_unnecessary_whitespace_highlighting=warning
resharper_unused_member_in_super_global_highlighting=warning
resharper_unused_parameter_global_highlighting=warning
resharper_use_null_propagation_when_possible_highlighting=suggestion
resharper_using_of_reserved_word_error_highlighting=hint
resharper_web_config_redundant_location_tag_highlighting=hint
resharper_web_ignored_path_highlighting=hint
resharper_wrong_metadata_use_highlighting=warning
resharper_xaml_ignored_path_highlighting_highlighting=suggestion

# prefer "var" everywhere
csharp_style_var_when_type_is_apparent=true : suggestion

# prefer method-like constructs to have a block body
csharp_style_expression_bodied_methods=false : none
csharp_style_expression_bodied_constructors=false : none
csharp_style_expression_bodied_operators=true : none

# prefer property-like constructs to have an expression-body
csharp_style_expression_bodied_properties=true : suggestion
csharp_style_expression_bodied_indexers=true : suggestion
csharp_style_expression_bodied_accessors=true : suggestion

# suggest more modern language features when available
csharp_style_pattern_matching_over_is_with_cast_check=true:suggestion
csharp_style_pattern_matching_over_as_with_null_check=true:suggestion
csharp_style_inlined_variable_declaration=true : suggestion
csharp_style_throw_expression=true : suggestion
csharp_style_conditional_delegate_call=true : suggestion

# internal and private fields should be _camelCase
dotnet_naming_rule.camel_case_for_private_internal_fields.severity=suggestion
dotnet_naming_rule.camel_case_for_private_internal_fields.symbols=private_internal_fields
dotnet_naming_rule.camel_case_for_private_internal_fields.style=camel_case_underscore_style

dotnet_naming_symbols.private_internal_fields.applicable_kinds=field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities=private, internal

dotnet_naming_style.camel_case_underscore_style.required_prefix=_
dotnet_naming_style.camel_case_underscore_style.capitalization=camel_case

# name all constant fields using PascalCase
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity=suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols=constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style=pascal_case_style

dotnet_naming_symbols.constant_fields.applicable_kinds=field
dotnet_naming_symbols.constant_fields.required_modifiers=const

dotnet_naming_style.pascal_case_style.capitalization=pascal_case

# Space preferences
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_around_declaration_statements=do_not_ignore
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false

# Microsoft .NET properties
csharp_preserve_single_line_blocks=true

# ReSharper properties
resharper_blank_lines_before_single_line_comment=1
resharper_keep_existing_declaration_block_arrangement=false
resharper_keep_existing_embedded_block_arrangement=false
resharper_keep_existing_enum_arrangement=false
resharper_max_formal_parameters_on_line=10
resharper_max_invocation_arguments_on_line=10
resharper_place_accessor_attribute_on_same_line=true
resharper_wrap_before_arrow_with_expressions=true


# These settings must match terraform fmt
[*.tf]
indent_style=space
indent_size=2
insert_final_newline=true
trim_trailing_whitespace=true


[*.{ts, tsx, js, jsx, json}]
indent_style=tab
indent_size=4

[*.{appxmanifest,asax,ascx,aspx,axml,build,config,cs,cshtml,csproj,css,dbml,discomap,dtd,htm,html,js,json,jsproj,jsx,lsproj,master,njsproj,nuspec,proj,props,proto,razor,resjson,resw,resx,skin,StyleCop,targets,tasks,ts,tsx,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=tab
indent_size=tab
tab_width=4
